<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taxímetro Digital</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="container">
    <div class="header">
        <h1>Bienvenido a Delamain</h1>
        <h2>El mejor servicio de Taxi de Night City</h2>
    </div>
    

    <div class="tarifas">
        <h3>Tarifas oficiales (no truqueadas)</h3>
        <p id="tarifa-parado">Tarifa Stop: Cargando...</p>
        <p id="tarifa-movimiento">Tarifa en Movimiento: Cargando...</p>
            <p id="estado">Estado: PARADO</p>
            <p id="tarifa">Tarifa: 0.00€</p>
    </div>
    
    <div class="botones">
        <!-- Botón para iniciar el viaje -->
        <button id="iniciar-viaje">Iniciar Viaje</button>
        
        <!-- Botón para cambiar el estado -->
        <button id="cambiar-estado">Cambiar Estado</button>
        
        <!-- Botón para finalizar el viaje -->
        <button id="finalizar-viaje">Finalizar Viaje</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
