<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taxímetro Digital</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="navbar">
      <div class="header-top">
        <a href="https://www.cyberpunk.net/us/es/" class="header-top__logo header-top__logo--black-desktop  ">
          <img src="https://www.cyberpunk.net/build/images/home8/logo-franchise-yellow-en@1x-b4c9e65b.png" alt="logo-franchise-yellow-en">
        </a>
        <ul class="menu-list">
          <li>
            <button id="complaints">Quejas y Sugerencias</button>
          </li>
          <li>
            <button id="logout-button">Cerrar Sesión</button>
          </li>
        </ul>
      </div>
      
    </nav>
    <section class="main-container">
      <div>
        <div class="header">
          <h1 class="welcome">BIENVENIDO AL TAXIMETRO DE DELAMAIN</h1>
          <h2>El mejor servicio de Taxi de Night City</h2>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="tarifa">
        <h3 class="title-tarifa">Tarifas oficiales (no truqueadas)</h3>
        <div class="tarifas">
          <p id="tarifa-parado">Tarifa Stop: Cargando...</p>
          <p id="tarifa-movimiento">Tarifa en Movimiento: Cargando...</p>
        </div>
        <div class="estado">
          <p id="estado">Estado: PARADO</p>
          <p id="tarifa">Tarifa: 0.00€</p>
        </div>
      </div>

      <div class="botones">
        <!-- Botón para iniciar el viaje -->
        <button id="iniciar-viaje" class="cp-btn cp-btn-blue">
          <span>Iniciar Viaje</span>
        </button>

        <!-- Botón para cambiar el estado -->
        <button id="cambiar-estado" class="cp-btn cp-btn-black">
          <span>Parar/Seguir</span>
        </button>

        <!-- Botón para finalizar el viaje -->
        <button id="finalizar-viaje" class="cp-btn cp-btn-black">
          <span>Finalizar Viaje</span>
        </button>
      </div>

      <script src="{{ url_for('static', filename='script.js') }}"></script>
    </div>
    <footer>
      <div class="footer-container">
    </footer>
  </body>
</html>
